.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons {
    padding-top: 20px;

    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

.sales-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section[body] {
    max-height: calc(100vh - 59.5px);
}

.top-div button {
    margin: 0 20px;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}