<div class="wrapper">
    <section class="top-div">
        <h2 class="top-div-header" matDialogTitle>
            Create new sale
        </h2>
        <button mat-icon-button (click)="close()" title="Close dialog">
            <mat-icon fontIcon="close" aria-label="close icon"></mat-icon>
        </button>
    </section>

    <section body matDialogContent>
        <div class="sales-form" [formGroup]="saleFormGroup">

            <mat-form-field class="">
                <mat-label>Item name</mat-label>
                <input formControlName="item_name" matInput placeholder="Bucket">
                <mat-error *ngIf="saleFormGroup.get(['item_name'])?.hasError('required')">
                    Item name is <strong>required</strong>
                </mat-error>
                <mat-error
                    *ngIf="saleFormGroup.controls['item_name'].hasError('minlength') && !saleFormGroup.controls['item_name'].hasError('required')">
                    Minimum of {{ saleFormGroup.controls['item_name'].errors?.minlength?.requiredLength }} characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="">
                <mat-label>Price</mat-label>
                <input type="text" inputmode="numeric" formControlName="price" matInput placeholder="2,000">
                <mat-error *ngIf="saleFormGroup.get(['price'])?.hasError('required')">
                    Price is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="saleFormGroup.get(['price'])?.hasError('min') && !saleFormGroup.controls['price'].hasError('required')">
                    Price can't be less than <strong> {{ saleFormGroup.controls['price'].errors?.min?.min }}</strong>
                </mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="is_item_negotiable" class="example-margin">Negotiable</mat-checkbox>

            <!--  -->
            <mat-form-field class="" *ngIf="saleFormGroup.get(['is_item_negotiable'])?.value">
                <mat-label>Minimum Price</mat-label>
                <input type="text" inputmode="numeric" formControlName="minimum_price" matInput placeholder="2,000">
                <!-- Maybe later pre-fill with AI predicted value -->
                <mat-error *ngIf="saleFormGroup.get(['minimum_price'])?.hasError('required')">
                    Minimum price is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="saleFormGroup.get(['minimum_price'])?.hasError('max') && !saleFormGroup.controls['minimum_price'].hasError('required')">
                    Minimum price can't be more than <strong>Price {{ saleFormGroup.controls['minimum_price'].errors?.max?.max }}</strong>
                </mat-error>
            </mat-form-field>

            <!-- should images be required???? -->
            <input title="Select media" #imgFileInput class="custom-file-input" accept="image/*,video/*" multiple (change)="onFileSelected($event)"
                type="file">

            <div class="images-preview">
                <div *ngFor="let image of saleImagesPreview; let imgIndex = index">
                    <mat-card>
                        <button class="del-img" (click)="removePreviewImage(this.imgFileInput, imgIndex)" mat-icon-button aria-label="Delete image" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <img [src]="image.dataUrl" mat-card-image alt="A supposed image of the item for sale">
                    </mat-card>
                </div>
            </div>

            <mat-form-field class="">
                <mat-label>Item description</mat-label>
                <textarea title="description" rows="3"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5" formControlName="text" matInput placeholder=""></textarea>
                <mat-hint>Optional</mat-hint>
                <!-- TODO: textbox should expand as you type -->
              </mat-form-field>
        </div>

        <div class="action-buttons">
            <button (click)="submit()" mat-raised-button color="primary">Post</button>
            <button mat-stroked-button (click)="saveDraft()">Save as draft</button>
        </div>
    </section>
</div>
