.grid-container {
    margin: 20px;
}

.parent-chat {
    margin: 20px;
    display: flex;
    height: calc(100vh - 64px - 48px - 40px);
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.margin-up-down {
    margin-top: 10px;
    margin-bottom: 10px;
}

.house-image {
    width: 100%;
    height: auto;
}

.mb {
    margin-bottom: 20px;
}

.inner-update-form {
    margin: 10px;
}

div.add-house-buttons button {
    margin: 0 10px 0 0;
}

.inner-update-form > mat-form-field,
.add-house > mat-form-field {
    margin: 10px;
}

/* TODO: might need to amend this */
.chat-list {
    /* flex-basis: 35%; */
    flex-grow: 1;

    max-width: 350px;
}
.chats-listing {
    /* width: 35%; */
    overflow-x: hidden;
}

.chat-box {
    flex-grow: 4;

    background-color: #8080801c;
}

.inner-chat-box {
    height: 75%;
    border: 1px solid black;
}

.profile-image {
    flex-basis: inherit;

    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.person-msg-intro {
    display: flex;
    align-items: center;
}

.chat-card {
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
}

.spacer {
    flex-basis: 20%;
}

.sender {
    flex-direction: row;
    text-align: right;
}

.receiver {
    flex-direction: row-reverse;
    text-align: left;
}

.msg-row .spacer {
    flex-grow: 1;
}

.msg-row {
    display: flex;

    margin: 15px 0px;
}

.msg-input {
    width: calc(100% - 50px);
}

/* 
    margin so it's on same level as message box 
*/
.send-message-button {
    margin-bottom: 22px;
}

.no-selected-chat {
    text-align: center;
    padding-top: 10%;
}

.no-chat-icon {
    transform: scale(2);
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .chat-box {
        flex-basis: 0px; /** not working */
        flex-grow: 0; /** not working */

        display: none;
    }
    .parent-chat {
        margin: 0;
        height: calc(100vh - 64px - 48px);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
