<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-card>
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out the house address</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>LGA</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
          <button mat-button mat-raised-button matStepperNext>Save draft</button>
            <button mat-button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out the house details</ng-template>
          <!--type, price, rooms, [should this all be together in a section?]-->
          <mat-form-field>
            <mat-label>Details</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button matStepperNext>Save draft</button>
            <button mat-button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Media of the house details</ng-template>
          <!--now put up pictures or videos of the places you mentioned, let's see --- we'll fill up this places dynamically, based on what you filled in the previous step-->
          <mat-form-field>
            <mat-label>Details</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button matStepperNext>Save draft</button>
            <button mat-button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done. Submit?</p>
        <div>
          <button mat-button mat-raised-button matStepperPrevious>Back</button>
          <button mat-button mat-raised-button (click)="stepper.reset()">Reset</button>
          <button mat-button mat-raised-button >Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>

  <mat-divider class="margin-up-down"></mat-divider>
  
<!-- 
  <mat-card>
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done. Submit?</p>
        <div>
          <button mat-button mat-raised-button matStepperPrevious>Back</button>
          <button mat-button mat-raised-button (click)="stepper.reset()">Reset</button>
          <button mat-button mat-raised-button >Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
 -->
  
 <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-card class="fact-item">

  <mat-card-header>
    <!--must use "mat-card-avater"-->
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  jfa;sfl ajdl
  <!-- <div class="fact-date">{{ g || fact.year }}</div> -->
  <!-- <div class="fact-text">{{ g || fact.text }}</div> -->

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original
      and distinct spitz breeds of dog from Japan.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
