.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.margin-up-down {
  margin-top: 10px;
  margin-bottom: 10px;
}

.house-image {
  width: 100%;
  height: auto;
}

.mb {
  margin-bottom: 20px;
}

.inner-update-form {
  margin: 10px;
}

div.add-house-buttons button {
  margin: 0 10px 0 0;
}

.inner-update-form > mat-form-field, .add-house > mat-form-field {
  margin: 10px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}