<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-card>
    <form [formGroup]="propertyForm" (ngSubmit)="postHouse()">
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="propertyForm.controls.address" formGroupName="address">

          <ng-template matStepLabel>Fill out the house address</ng-template>
          <!--Intentionally did not put the exact flat because some Nigerians are dubious-->
          <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput placeholder="Eforo street" formControlName="street" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput placeholder="Umuahia" formControlName="city" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>LGA</mat-label>
            <input matInput placeholder="Aniocha-North" formControlName="lga" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput placeholder="Jigawa" formControlName="state" required>
          </mat-form-field>

          <div>
            <button type="button" mat-button mat-raised-button matStepperNext>Save draft</button>
            <button type="button" mat-button mat-raised-button matStepperNext>Next</button>
          </div>

        </mat-step>
        <mat-step [stepControl]="propertyForm.controls.specs" formGroupName="specs">

          <ng-template matStepLabel>Fill out the house details</ng-template>
          <!--type, price, rooms, floor types, probably wall type?? [should this all be together in a section?]-->

          <mat-form-field>
            <mat-label>Places like:</mat-label>
            <mat-select role="listbox" [formControl]="propertyForm.controls.houseType">

              <mat-option role="option" *ngFor="let houseType of houseTypes" [value]="houseType">{{houseType}}</mat-option>
    
            </mat-select>
            <mat-hint>How would you best say the house is?</mat-hint>
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>House Type</mat-label>
            <input matInput placeholder="Jigawa" [formControl]="propertyForm.controls.houseType" required>
          </mat-form-field> -->

          <mat-form-field>
            <mat-label>Bathrooms</mat-label>
            <input matInput placeholder="1" formControlName="bathrooms" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Toilet</mat-label>
            <input matInput placeholder="8" formControlName="toilet" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bedrooms</mat-label>
            <input matInput placeholder="15" formControlName="bedrooms" required>
          </mat-form-field>


          <mat-form-field>
            <mat-label>Kitchen</mat-label>
            <input matInput formControlName="media" placeholder="Shared" formControlName="kitchen" required>
          </mat-form-field>
          <div>
            <button type="button" mat-button mat-raised-button matStepperPrevious>Back</button>
            <button type="button" mat-button mat-raised-button matStepperNext>Save draft</button>
            <button type="button" mat-button mat-raised-button matStepperNext>Next</button>
          </div>

        </mat-step>

        <mat-step [stepControl]="propertyForm.controls.media">

          <ng-template matStepLabel>Media of the house details</ng-template>
          <!--now put up pictures or videos of the places you mentioned, let's see --- we'll fill up this places dynamically, based on what you filled in the previous step-->

          <mat-label>Add media files</mat-label>
          <!--
            style input button 
            https://stackoverflow.com/questions/572768/styling-an-input-type-file-button 
            from https://stackoverflow.com/questions/47974175/how-do-i-style-a-file-upload-button
          -->
          <button type="button" mat-button mat-raised-button>
            <input type="file" accept="image/*" multiple required (change)="houseMedia($event)">
          </button>

          <div>
            <button type="button" mat-button mat-raised-button matStepperPrevious>Back</button>
            <button type="button" mat-button mat-raised-button matStepperNext>Save draft</button>
            <button type="button" mat-button mat-raised-button matStepperNext>Next</button>
          </div>

        </mat-step>

        <mat-step [stepControl]="propertyForm.controls.price">
          <ng-template matStepLabel>Done</ng-template>
          <p>Is price is bargainable?</p>

          <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput placeholder="75,000" formControlName="price" required>
          </mat-form-field>

          <div>
            <button type="button" mat-button mat-raised-button matStepperPrevious>Back</button>
            <button type="button" mat-button mat-raised-button (click)="stepper.reset()">Reset</button>
            <button type="submit" mat-button mat-raised-button type="submit">Submit</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </mat-card>

  <mat-divider class="margin-up-down"></mat-divider>

  <!-- 
  <mat-card>
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done. Submit?</p>
        <div>
          <button mat-button mat-raised-button matStepperPrevious>Back</button>
          <button mat-button mat-raised-button (click)="stepper.reset()">Reset</button>
          <button mat-button mat-raised-button >Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
 -->

  <!-- <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->

</div>
