.container {
    padding: 20px;

    height: calc(100vh - 64px - 48px);
}

.container .content {
    display: flex;
    gap: 30px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.margin-up-down {
    margin-top: 10px;
    margin-bottom: 10px;
}

.house-image {
    width: 100%;
    height: auto;
}

.mb {
    margin-bottom: 20px;
}

.inner-update-form {
    margin: 10px;
}

div.add-house-buttons button {
    margin: 0 10px 0 0;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.inner-update-form > mat-form-field,
.add-house > mat-form-field {
    margin: 10px;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
