:host {
    height: 100%;
}

.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 15px;
}

.images-preview img {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.images-preview mat-card-actions {
    justify-content: space-between;
}

.rent-expire-form-field {
    min-width: 270px;
}

.id-img {
    width: 60%;
}

section[body] {
    margin-inline: auto;
}

.action-buttons > div {
    display: flex;
    gap: 10px;
}

.accommodation-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.action-buttons {
    padding-top: 25px;

    display: flex;
    justify-content: space-between;
}

/**
    custom file input styling via https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/ 
**/
.custom-file-input {
    color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
section[body] {
    height: calc(100vh - 59.5px);
}
.top-div button {
    padding: 0 20px;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    mat-form-field {
        width: 100%;
    }
    section[body] {
        padding: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}