<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>
        <mat-tab-group>
            <mat-tab label="First"> Content 1 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>
          
    </mat-grid-tile>
  </mat-grid-list>
<!-- https://css-tricks.com/cool-little-css-grid-tricks-for-your-blog/ -->
<!-- https://blog.angular-university.io/angular-host-context/ -->
<!-- 
    why we can't use google maps anyhow https://developers.google.com/maps/gmp-get-started
    
    we'll use https://developers.google.com/maps/billing/gmp-billing?authuser=1#embed

    specifically https://developers.google.com/maps/documentation/embed/guide?authuser=1#place_mode

    tutorial https://timdeschryver.dev/blog/google-maps-as-an-angular-component
    https://dev.to/devpato/setup-google-map-in-angular-app-the-pro-way-3m9p

-->
