mat-grid-list {
    display: flex;
}

.top {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.top button {
    padding: 0 20px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 425px)  { 
    mat-grid-list {
        flex-direction: column;
    }
}