<!-- 
    What do you want to see?
    Their write up, their DP.

    Maybe the post they've written - and interacted with??
    Their project.

    Maybe their serving state?? Only their serving state. If they hold any public post.

    design inspiration - https://static.collectui.com/shots/3951507/team-member-profile-projects-large
 -->
<div>
    <section root>
        <mat-card class="image-area">
            <img class="profile-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card>

        <mat-card class="location-info-area">
            <mat-card-header>
                <mat-card-title>{{corperSlug}}</mat-card-title>
                <mat-card-subtitle>Digital Artist</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p class="one-liner">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
                    <span>Abia State</span>
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="bio-area">
            <mat-card-content>This is a long text about who I am, and what I do. It should have a text limit with css. How? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius illo, minima fuga quia non debitis quaerat earum iste quo mollitia doloribus aut, ab quae quos vero? Sint, pariatur eligendi?</mat-card-content>
        </mat-card>
    </section>
</div>
