.ppas-list {
    display: flex;

    flex-direction: column;

    gap: 5px;
}

/* TODO: take to main.css, it's repeated elsewhere */
.toolbar-spacer {
    flex: 1 1 auto;
}

.search-bar-section {
    margin-top: 10px;
}

.form-field-full-width {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

/**
  * TODO: this class is repeated elsewhere, move to main css?
*/
.app-name-header {
    cursor: pointer;
}