div[root] {
  display: grid;
  grid-template-columns: 2fr 3fr;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

section[first] {
  background-color: red;
}

form {
  display: grid;

  width: 290px;
  margin: 0 auto;
}

.login-button {
  margin-top: 25px;
}

div.center {
  margin-top: 30%;

  text-align: center;
}

.full-width {
  width: -moz-available;
}

.signup-sentence {
  width: 100%;
  margin: 0 auto;

  margin-top: 65%;
  text-align: center;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
