/**
* same as sign up
*/
form {
  margin: 0 auto;
  width: 210px;

  margin-top: 10%;
}

.example-full-width {
  width: -moz-available;

  margin-bottom: 5px;
}

/**small mobile view rules*/
@media only screen /* and (min-device-width: 320px) */ and (max-device-width: 425px) {
  
}

/**large mobile view rules*/
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  
}
