<div root>
  <section first>

  </section>
  
  <section second>

    <div class="center">
      <h2>Login</h2>

    <form class="form" [formGroup]="loginForm">
    
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>State code or Email</mat-label>
          <input title="email or NYSC state code" autocomplete="username" matInput formControlName="username" placeholder="">
          <mat-error *ngIf="loginForm.controls['username'].hasError('minlength') && !loginForm.controls['username'].hasError('required')">
            Please enter a valid state code or email
          </mat-error>
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
            State code or email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input #passwordInput matInput autocomplete="current-password" type="password" formControlName="password" placeholder="Minimum of 6 characters">
          <button class="umami--click--toggle-login-password-view" matSuffix mat-icon-button type="button" aria-label="Toggle password visibility" (click)="togglePasswordInputIcon()">
            <mat-icon>{{passwordInputIcon}}</mat-icon>
          </button>
          <mat-hint align="start">Minimum of 6 characters</mat-hint>
          <mat-error
            *ngIf="loginForm.controls.password.hasError('minlength') && !loginForm.controls.password.hasError('required')">
            Please exceed 6 characters
          </mat-error>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    
        <app-progress-button type="submit" class="login-button" (click)="login()" buttonText="Login" [loading]="isLoggingIn" [disabled]="loginForm.invalid"></app-progress-button>
        
    </form>

    <div class="signup-sentence">Don't have an account? <a routerLink="/signup">Sign up</a>.</div>
    </div>
    
  </section>
</div>