div[root] {
  display: grid;
  grid-template-columns: 2fr 3fr;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

section[first] {
  background-color: red;
}

form {
  display: grid;

  width: 290px;
  margin: 0 auto;
}

.login-button {
  margin-top: 25px;
}

div.center {
  margin-top: 30%;

  text-align: center;
}

.full-width {
  width: -moz-available;
  margin-bottom: 5px;
}

/**small mobile view rules*/
@media only screen /* and (min-device-width: 320px) */ and (max-device-width: 425px) {
  
}

/**large mobile view rules*/
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  
}
