<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span class="app-name-header" routerLink="/">Corpers NG</span>
    <span class="example-spacer"></span>

    <button type="button" class="hide-mobile" mat-button (click)="openAddNewPPADialog()">Add PPA</button>
    <button type="button" mat-icon-button class="hide-desktop" (click)="openAddNewPPADialog()">
      <mat-icon class="nav-icon" aria-label="create new accommodation icon">home_pin</mat-icon>
    </button>

    <button type="button" class="hide-mobile" mat-button (click)="openCreateAccommodationPostDialog()">Post Accommodation</button>
    <button type="button" mat-icon-button class="hide-desktop" (click)="openCreateAccommodationPostDialog()">
      <mat-icon class="nav-icon" aria-label="create new accommodation icon">add_home_work</mat-icon>
    </button>

    <button type="button" class="hide-mobile" mat-button (click)="openCreateSalePostDialog()">Post Sale</button>
    <button type="button" mat-icon-button class="hide-desktop" (click)="openCreateSalePostDialog()">
      <mat-icon class="nav-icon" aria-label="create new sale icon">sell</mat-icon>
    </button>

    <button type="button" class="hide-mobile" color="accent" mat-stroked-button [matMenuTriggerFor]="menu">Menu</button>
    
    <button type="button" mat-icon-button (menuOpened)="menuOpen()" (menuClosed)="menuClose()" [matMenuTriggerFor]="menu" class="hide-desktop">
      <mat-icon class="nav-icon" aria-label="menu icon">menu{{ menuState }}</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="menu-list">
      <button type="button" mat-menu-item [routerLink]="['/']">Home</button>
      <button type="button" mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
      <button type="button" mat-menu-item [routerLink]="['/profile']">Profile</button>
      <button type="button" mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>