<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span class="app-name-header" routerLink="/home">Corpers Online</span>
    <span class="example-spacer"></span>

    <button class="hide-mobile" mat-button (click)="openCreatePostDialot()">New Post</button>
    <button mat-icon-button class="hide-desktop" (click)="openCreatePostDialot()">
      <mat-icon class="nav-icon" aria-label="sign up person icon">add</mat-icon>
    </button>

    <button class="hide-mobile" mat-button [matMenuTriggerFor]="menu">Menu</button>
    
    <button mat-icon-button (menuOpened)="menuOpen()" (menuClosed)="menuClose()" [matMenuTriggerFor]="menu" class="hide-desktop">
      <mat-icon class="nav-icon" aria-label="meun icon">menu{{ menuState }}</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="menu-list">
      <button mat-menu-item [routerLink]="['/']">Home</button>
      <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
      <button mat-menu-item [routerLink]="['/home/profile']">Profile</button>
      <button mat-menu-item [routerLink]="['/signup']">Sign up</button>
      <button mat-menu-item [routerLink]="['/login']">Login</button>
      <button mat-menu-item [routerLink]="['/']" (click)="logout()">Logout</button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>