cdk-virtual-scroll-viewport {
    /* background-color: blue; */
    height: calc(100% - 64px);
    /* padding: 20px; */

    width: 100%;
}

mat-card {
    width: 45%;
}

.img {
    /* width: 150px; */
}