cdk-virtual-scroll-viewport {
  /* background-color: blue; */
  /* height: 526px; */
    height: calc(100vh - 130px);
  /* padding: 20px; */

  width: 100%;

  background-color: #EEF2F7;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  width: 45%;

  margin-top: 20px;
  margin-bottom: 20px;

  /** https://codepen.io/chriscoyier/pen/KKwNLyL */
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.filters {
  margin-bottom: 15px;
}

.margin-up-down {
  margin: 15px 0px 15px 0px;
}

.margin-top-bottom {
  margin-top: 20px;
  margin-bottom: 5px;
}

mat-sidenav-content {
  /* height: calc(100% - 64px); */
}

/* fairly Stable CSS */

.example-spacer {
  flex: 1 1 auto;
}

.byside {
  padding: 0px 16px;
}

mat-sidenav {
  width: 25%;
}

mat-slider {
  width: -moz-available;
  width: -webkit-fill-available;
}

/**small mobile view rules*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 425px)  { 
    mat-sidenav {
        width: 75%;
    }

    mat-card {
      width: 70%;
    }
}
/**large mobile view rules*/
@media only screen 
  and (min-device-width: 426px) 
  and (max-device-width: 768px)  { 
    mat-sidenav {
        width: 45%;
    }

    mat-card {
      width: 70%;
    }
}

/**very large mobile (tablets) view rules*/
@media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 960px)  { 
    mat-sidenav {
        width: 45%;
    }

    div.cdk-virtual-scroll-content-wrapper {
      position: inherit; /**not working*/
    }

    mat-card {
      width: 70%;
    }
}

/** --- */
.mat-card-actions {
  margin-bottom: 0px;
}

mat-grid-list {
  width: 75%;
}

.mat-card-in-tile {
  width: -moz-available;
  height: 70%;
  border-radius: 1px !important;
}

.room-deats {
  display: flex;
  align-items: center;

  margin-inline: 8px;
}

.price-area {
  text-align: end;
}

.price-area div:nth-child(1) {
  font-size: larger;
}

.price-area div:nth-child(2) {
  font-size: small;
}

.room-number {
  padding-top: 5px;
  padding-right: 10px;
}

.room-deats mat-icon {
  padding-right: 3px;
}

.mat-card-in-tile mat-card-subtitle {
  display: inline-block;
}

.other-details {
  font-size: 14px;
  font-weight: bolder;
}

#under-mat-card-title {
  font-size: medium;
  margin-top: -10px;
  display: block;
}

.house-img { /** https://stackoverflow.com/a/38810343 */
  position: relative;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%);
}

:host() ::ng-deep cdk-virtual-scroll-viewport .cdk-virtual-scroll-content-wrapper { /** https://stackoverflow.com/a/59205966 */
  width: -moz-available !important;
}