cdk-virtual-scroll-viewport {
    /* background-color: blue; */
    height: calc(100% - 64px);
    /* padding: 20px; */

    width: 100%;
}

mat-card {
    width: 45%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    margin-top: 20px;
    margin-bottom: 20px;
}

.img {
    /* width: 150px; */
}