<!-- https://alligator.io/angular/infinite-scroll/
  In order for the component to properly size its internal scroller,
  we need to tell the scroller how tall each item will be (in pixels).
  This is done using the itemSize directive.
  So, itemSize="100" means that item in the list will require 100px of height.
 -->

<!--
   
    mat-card-title
    mat-card-subtitle
    mat-card-content
    mat-card-actions
    mat-card-footer

 -->

<!--
   <mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>MR. X</mat-card-title>
		<mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
</mat-card>
 -->



<cdk-virtual-scroll-viewport itemSize="10">

  <mat-card class="dashboard-card" *cdkVirtualFor="let fact of dataSource">

    <img class="img" mat-card-image src="assets/images/yes.jpg" alt="Photo of a Shiba Inu">

    <mat-card-header>
      <mat-card-title>
        <!--fact.states[0][0] ||-->

        {{fact.text}}

      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div>{{'Number: ' + fact.number + ', year ' + fact.year}} [Card Content Here]</div>
    </mat-card-content>
  </mat-card>


</cdk-virtual-scroll-viewport>







<!-- <cdk-virtual-scroll-viewport itemSize="100">
    <mat-list *cdkVirtualFor="let fact of dataSource">
      
        <mat-card *ngFor="let g of fact.states[0] || fact" class="fact-item">

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          
          {{ g || fact.year }}

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original
              and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <div class="black" *ngIf="!fact">
          Loading ...
        </div>
    </mat-list>
  </cdk-virtual-scroll-viewport> -->
