<!-- https://alligator.io/angular/infinite-scroll/
  In order for the component to properly size its internal scroller,
  we need to tell the scroller how tall each item will be (in pixels).
  This is done using the itemSize directive.
  So, itemSize="100" means that item in the list will require 100px of height.
 -->

<!--
   
    mat-card-title
    mat-card-subtitle
    mat-card-content
    mat-card-actions
    mat-card-footer

 -->

<!--
   <mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>MR. X</mat-card-title>
		<mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
</mat-card>
 -->

 <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="filters">Filters</mat-toolbar>
  <div class="byside">

    <h4>Budget</h4>

    <mat-chip-list aria-label="Range selection">
      <mat-chip>Two fish</mat-chip>
      <mat-chip color="primary" selected>Primary fish</mat-chip>
    </mat-chip-list>

    <mat-slider min="50000" max="2000000" step="5000" value="150000"></mat-slider>

    <mat-divider class="margin-up-down"></mat-divider>

    <h4>House type</h4>

    <mat-chip-list aria-label="Specs selection">
      <mat-chip>1 BHK</mat-chip>
      <mat-chip>2 BHK</mat-chip>
      <mat-chip color="primary" selected>1 BK</mat-chip>
      <mat-chip color="accent" selected>2B 1K</mat-chip>
      <mat-chip color="accent" selected>3B 1K</mat-chip>
      <mat-chip color="accent" selected>4B 1K</mat-chip>
    </mat-chip-list>

    <mat-divider class="margin-up-down"></mat-divider>

    <h4>How far (from you)</h4>

    <mat-slider min="1000" max="200000" step="5000" value="50000"></mat-slider>

    <!-- based on the distance, filter the avaliabel places -->

    <mat-form-field>
      <mat-label>Places like:</mat-label>
      <mat-select role="listbox" [formControl]="places" multiple>
        <mat-option role="option" *ngFor="let place of placesList" [value]="place">{{place}}</mat-option>

        <!-- <mat-optgroup label="5 miles" *ngFor="let place of placesList">
          <mat-option *ngFor="let area of places" [value]="area">{{area}}</mat-option>
        </mat-optgroup> -->
        
      </mat-select>
    </mat-form-field>
    



    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>mat-design</span>
      <!-- show number of available properties, and the filter citerias the user has choosen -->
    </mat-toolbar>
    
    <!-- Add Content Here -->
    
    <cdk-virtual-scroll-viewport itemSize="10">

      

      <mat-card class="dashboard-card" *cdkVirtualFor="let fact of dataSource">
    
        <img class="img" mat-card-image src="assets/images/yes.jpg" alt="Photo of a Shiba Inu">
    
        <mat-card-header>
          <mat-card-title>
            <!--fact.states[0][0] ||-->
    
            {{fact.text}}
    
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{'Number: ' + fact.number + ', year ' + fact.year}} <!-- [Card Content Here] --></div>
        </mat-card-content>
      </mat-card>
    
    
    </cdk-virtual-scroll-viewport>
  </mat-sidenav-content>
</mat-sidenav-container>









<!-- <cdk-virtual-scroll-viewport itemSize="100">
    <mat-list *cdkVirtualFor="let fact of dataSource">
      
        <mat-card *ngFor="let g of fact.states[0] || fact" class="fact-item">

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          
          {{ g || fact.year }}

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original
              and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <div class="black" *ngIf="!fact">
          Loading ...
        </div>
    </mat-list>
  </cdk-virtual-scroll-viewport> -->
