<mat-toolbar color="primary">
    
    <mat-toolbar-row>
      <span>Green Homes</span>
      <span class="example-spacer"></span>

      <mat-nav-list>
        <a mat-list-item [routerLink]="['/status']" >Status page</a>
        <a mat-list-item [routerLink]="['/cart']" >Cart page</a>
        <a mat-list-item [routerLink]="['/nav']" >Nav page</a>
        <a mat-list-item [routerLink]="['/form']" >Sample form page</a>
        <a mat-list-item [routerLink]="['/dashboard']" >Dashboard page</a>
     </mat-nav-list>

      
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
    
  </mat-toolbar>

<router-outlet></router-outlet>
