<div class="wrapper">
    <section class="top-div">
        <h2 class="top-div-header" matDialogTitle>
            Add new PPA
        </h2>
        <button type="button" mat-icon-button (click)="close()" title="Close dialog">
            <mat-icon fontIcon="close" aria-label="close icon"></mat-icon>
        </button>
    </section>

    <section form-section>
        <form class="new-place-form" [formGroup]="newPlaceForm" (ngSubmit)="postNewPlace()">

            <mat-form-field>
                <mat-label>Place name</mat-label>
                <input matInput placeholder="St. Mary's School" formControlName="name" required />
                <mat-error *ngIf="newPlaceForm.get(['name'])?.hasError('required')">
                  Name is <strong>required</strong>
              </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Category</mat-label>
                <input matInput placeholder="Gov. Institution" formControlName="category" required />
                <mat-error *ngIf="newPlaceForm.get(['category'])?.hasError('required')">
                  Category is <strong>required</strong>
              </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="No. 26, B lane, Atero Street, Abuja" formControlName="address" required />
                <mat-error *ngIf="newPlaceForm.get(['address'])?.hasError('required')">
                  Address is <strong>required</strong>
              </mat-error>
              </mat-form-field>

              <mat-form-field>
                <!-- Should be pre-filled with their state of registration & LGA -->
                <mat-label>State</mat-label>
                <mat-select formControlName="state_id">
                  <mat-option *ngFor="let state of ng_states" [value]="state?.id">
                    {{state?.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="newPlaceForm.get(['state_id'])?.hasError('required')">
                  State is <strong>required</strong>
              </mat-error>
              </mat-form-field>

              <mat-form-field>
                <!-- TODO: Should have a loader -->
                <mat-label>LGA</mat-label>
                <mat-select formControlName="state_lga_id">
                  <mat-option *ngFor="let lga of ng_states_lgas" [value]="lga?.id">
                    {{lga?.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="newPlaceForm.get(['state_lga_id'])?.hasError('required')">
                  LGA is <strong>required</strong>
              </mat-error>
              </mat-form-field>

              <input title="Select media" #imgFileInput class="custom-file-input" accept="image/*,video/*" multiple (change)="onFileSelected($event)"
                type="file">

            <div *ngIf="saleImagesPreview.length" class="images-preview">
                <div *ngFor="let image of saleImagesPreview; let imgIndex = index">
                    <mat-card>
                        <button type="button" class="del-img" (click)="removePreviewImage(this.imgFileInput, imgIndex)" mat-icon-button aria-label="Delete image" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <img [src]="image.dataUrl" mat-card-image alt="A supposed image of the item for sale">
                    </mat-card>
                </div>
            </div>

            <button type="submit" mat-button mat-raised-button>
              Add
            </button>
        </form>
    </section>
</div>