.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-div button {
    margin: 0 20px;
}

.new-place-form {
    display: flex;

    flex-direction: column;
}

/* TODO: Maybe do this for other input modals? */
[form-section] {
    max-width: 600px;
    margin: 0 auto;
}

[form-section] {
    padding: 0 30px;
}

.images-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 40px;

    padding-bottom: 25px;
}

.images-preview img {
    height: 200px;
    width: auto;
    object-fit: cover;
}