<div mat-dialog-content [formGroup]="reviewFormGroup">
    <p>How was your experience with {{ data.ppa.name }}?</p>
    <mat-form-field>
<!--         <mat-label>Your review</mat-label>
        <input title="Your review" formControlName="comment" matInput [(ngModel)]="data.animal">
 -->

        <textarea matInput formControlName="comment" placeholder="Leave a review or comment"></textarea>
    </mat-form-field>

    <div>
        <button *ngFor="let rating of [1,2,3,4,5]" type="button" mat-icon-button (click)="rateReview(rating)"
            title="Close dialog">
            <mat-icon [fontIcon]="reviewFormGroup.controls['star_rating'].value < rating ? 'star_border' : 'star'"
                aria-label="star icon"></mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-actions>
    <button type="button" mat-button (click)="close()">Cancel</button>
    <button type="button" mat-button [mat-dialog-close]="reviewFormGroup.value" cdkFocusInitial>Post</button>
</div>