<div class="wrapper">

    <div class="top-div">
        <div class="top-div-header" matDialogTitle>
            Create new accommodation
        </div>
        <button mat-icon-button (click)="close()" title="Close dialog">
            <mat-icon fontIcon="close" aria-label="close icon"></mat-icon>
        </button>
    </div>

    <section body>

        <mat-stepper [orientation]="stepperOrientation" #stepper>
            <!-- Icon overrides. -->
            <!-- 
            <ng-template matStepperIcon="other_houses" let-index="index">
                <mat-icon>other_houses</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="location" let-index="index">
                <mat-icon>pin_drop</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="image">
                <mat-icon>image</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="call_end">
                <mat-icon>call_end</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="payments">
                <mat-icon>payments</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="domain">
                <mat-icon>domain</mat-icon>
            </ng-template>
             -->
            <mat-step state="other_houses">
                <ng-template matStepLabel>Specs</ng-template>
                <ng-container class="d-flex flex-column justify-content-between">
                    <div class="accommodation-form form-step-1" [formGroup]="accommodationFormGroup">
                        <mat-form-field appearance="fill">
                            <mat-label>Accommodation type</mat-label>
                            <mat-select formControlName="accommodation_type">
                                <mat-option value="Self contain">Self contain</mat-option>
                                <mat-option value="Flat">Flat</mat-option>
                                <mat-option value="1 bedroom flat">1 bedroom flat</mat-option>
                                <mat-option value="2 bedroom flat">2 bedroom flat</mat-option>
                                <mat-option value="3 bedroom flat">3 bedroom flat</mat-option>
                            </mat-select>
                            <mat-hint>
                                Choose the category tha best describes it.
                            </mat-hint>
                        </mat-form-field>
    
                        <div formGroupName="available_rooms">
                            <label>What rooms does the accommodation contain?</label>
                            <div class="checkbox-group">
                                <mat-checkbox formControlName="Sitting-room">Sitting room</mat-checkbox>
                                <mat-checkbox formControlName="Kitchen">Kitchen</mat-checkbox>
                                <mat-checkbox formControlName="Bedroom">Bedroom</mat-checkbox>
                                <mat-checkbox formControlName="Toilet">Toilet</mat-checkbox>
                                <mat-checkbox formControlName="Bathroom">Bathroom</mat-checkbox>
                                <mat-checkbox formControlName="Dining-room">Dining room</mat-checkbox>
                            </div>
                        </div>
    
                    </div>
                    <div class="action-buttons">
                        <div>
                            <button mat-stroked-button color="primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </ng-container>
            </mat-step>

            <mat-step state="pin_drop">
                <ng-template matStepLabel>Location</ng-template>

                <div class="d-flex flex-column justify-content-between">
                    <div class="accommodation-form form-step-2" [formGroup]="accommodationFormGroup">
                        <mat-form-field appearance="fill">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" placeholder="Please specify street, and area.">
                        </mat-form-field>
    
                        <mat-form-field class="example-full-width">
                            <mat-label>Directions</mat-label>
                            <textarea rows="3" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" cdkTextareaAutosize matInput
                                formControlName="directions"
                                placeholder="Give directions to the accommodation from a popular nearby junction, a land mark or hard-to-miss building"></textarea>
                                <mat-hint>
                                    Don't forget to use a landmark.
                                </mat-hint>
                        </mat-form-field>
                    </div>
    
                    <div class="action-buttons">
                        <div>
                            <button mat-stroked-button matStepperPrevious>Back</button>
                            <button mat-stroked-button color="primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </div>
            </mat-step>

            <mat-step label="Let's see it" state="image">
                <div class="accommodation-form form-step-1">

                    <input title="Select files" #imgFileInput class="custom-file-input" accept="image/*,video/*" multiple (change)="onFileSelected($event)"
                        type="file">

                    <div class="images-preview">
                        <ng-container *ngFor="let image of accommodationImagesPreview; let imgIndex = index">
                            <mat-card>
                                <img [src]="image.dataUrl" mat-card-image alt="A supposed image of the apartment">
                                <mat-divider></mat-divider>
                                <mat-card-actions class="custom-img-actions">
                                    <mat-form-field class="what-img" appearance="fill">
                                        <mat-label>Identify image</mat-label>
                                        <mat-select>
                                            <mat-option>Choose</mat-option>
                                            <mat-option *ngFor="let food of availableHouseRooms" [value]="food.value">
                                                {{food.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <button class="hide-mobile" (click)="removePreviewImage(imgIndex)" mat-stroked-button color="warn" aria-label="Delete image">
                                        Delete
                                    </button> -->
                                    <button (click)="removePreviewImage(this.imgFileInput, imgIndex)" mat-icon-button aria-label="Delete image" color="warn">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </div>

                </div>

                <div class="action-buttons">
                    <div>
                        <button mat-stroked-button matStepperPrevious>Back</button>
                        <button mat-stroked-button color="primary" matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>

            <mat-step state="domain">
                <ng-template matStepLabel>Current status</ng-template>

                <div class="accommodation-form form-step-3" [formGroup]="accommodationFormGroup">
                    <div>
                        <label id="accommodation-current-status">Are you leasing out your active rent tenure, or a new
                            rent, or seeking a roommate?</label>
                        <div>
                            <mat-radio-group class="radio-group" formControlName="status" aria-label="Select an option"
                                aria-labelledby="accommodation-current-status">
                                <mat-radio-button value="new_rent">New rent (No occupant)</mat-radio-button>
                                <mat-radio-button value="old_rent">Subleasing out an active rent</mat-radio-button>
                                <mat-radio-button value="seeking_roommate">Seeking a roommate</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div *ngIf="accommodationFormGroup.get(['status'])?.value == 'old_rent'">
                        <mat-form-field appearance="fill" class="rent-expire-form-field">
                            <mat-label>When does your rent expire</mat-label>
                            <input title="Date your rent expires" matInput [matDatepicker]="picker" formControlName="rent_expire_date">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <ng-container *ngIf="accommodationFormGroup.get(['status'])?.value == 'seeking_roommate'">
                        <mat-form-field class="example-full-width">
                            <mat-label>Describe your ideal roommate:</mat-label>
                            <textarea rows="3" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" matInput
                                placeholder="Someone nice..." formControlName="ideal_roommate"></textarea>
                            <mat-hint>Optional</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Describe yourself to your ideal roommate:</mat-label>
                            <textarea rows="3" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" matInput
                                placeholder="I'm tolerant, clean..." formControlName="occupant_description"></textarea>
                            <mat-hint>Optional</mat-hint>
                        </mat-form-field>
                    </ng-container>
                </div>

                <div class="action-buttons">
                    <div>
                        <button mat-stroked-button matStepperPrevious>Back</button>
                        <button mat-stroked-button color="primary" matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>

            <mat-step state="payments">
                <ng-template matStepLabel>How much it costs</ng-template>
                <div class="accommodation-form form-step-4" [formGroup]="accommodationFormGroup">
                    <div>
                        <label id="accommodation-periodic-rent">Rent is</label>
                        <mat-radio-group class="radio-group" formControlName="rent_interval" aria-labelledby="accommodation-periodic-rent">
                            <mat-radio-button value="yearly">Yearly</mat-radio-button>
                            <mat-radio-button value="quarterly">Quarterly</mat-radio-button>
                            <mat-radio-button value="monthly">Monthly</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <mat-form-field class="example-full-width">
                        <mat-label>Rent
                            {{ accommodationFormGroup.get(['rent_interval'])?.value ? 'per ' + accommodationFormGroup.get(['rent_interval'])?.value.slice(0, -2) : '' }}
                            {{ accommodationFormGroup.get(['status'])?.value == 'seeking_roommate' ? 'for your roommate' : '' }}</mat-label>
                        <span matPrefix>&nbsp;&nbsp; &#8358; &nbsp;</span>
                        <input formControlName="rent" type="number" inputmode="numeric" matInput
                            placeholder="50,000">
                        <!-- <mat-hint></mat-hint> -->
                        <mat-error *ngIf="accommodationFormGroup.get(['rent'])?.hasError('min') && !accommodationFormGroup.controls['rent'].hasError('required')">
                            Rent can't be less than <strong> {{ accommodationFormGroup.controls['rent'].errors?.min?.min }}</strong>
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="action-buttons">
                    <div>
                        <button type="button" mat-stroked-button matStepperPrevious>Back</button>
                        <button type="button" mat-raised-button color="primary" (click)="submit()">Post</button>
                    </div>

                    <div>
                        <button type="button" mat-button>Save as draft</button>
                    </div>


                </div>

            </mat-step>

            <!-- <mat-step state="location">
                <ng-template matStepLabel>Done / Preview</ng-template>
                <p>You are now done.</p>
                <div class="action-buttons">
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>

                    <div>
                        <button mat-button>Save as draft</button>

                        <button (click)="submit()" mat-raised-button color="primary">Post</button>
                        <button class="d-none" mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </div>
            </mat-step> -->

        </mat-stepper>

    </section>
</div>

<!--
    Helper links:
    1. https://stackoverflow.com/questions/53132581/override-the-default-icon-from-mat-stepper-angular-material
    2. https://github.com/angular/components/issues/8997
    3. https://stackblitz.com/angular/maxbjapeayr?file=app%2Fstepper-states-example.ts
-->
