:host {
    height: 100%;
}

.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 15px;

    padding-bottom: 25px;
}

.images-preview img {
    height: 200px;
    width: auto;
    object-fit: contain;
    max-width: 250px;
}

.custom-img-actions {
    align-items: flex-start;
}

.images-preview mat-card-actions {
    justify-content: space-between;
}

.rent-expire-form-field {
    min-width: 270px;
}

section[body] {
    margin-inline: auto;
}

.form-step {
    max-width: 600px;
}

.form-step {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section[body] {
    height: calc(100vh - 59.5px);
}

.top-div button {
    margin: 0 20px;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    mat-form-field {
        width: 100%;
    }
    section[body] {
        padding: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}