/*
* https://stackoverflow.com/questions/9737394/html-how-to-center-align-a-form/9737550
* 
* https://stackoverflow.com/a/9737550/9259701
*/
div[root] {
  display: grid;
  grid-template-columns: 2fr 3fr;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

section[first] {
  background-color: red;
}

form {
  display: grid;

  width: 290px;
  margin: 0 auto;
}

.signup-button {
  margin-top: 25px;
}

div.center {
  margin-top: 30%;

  text-align: center;
}

.full-width {
  width: -moz-available;
}
