/*
* https://stackoverflow.com/questions/9737394/html-how-to-center-align-a-form/9737550
* 
* https://stackoverflow.com/a/9737550/9259701
*/
.sign-up {
  margin: 0 auto;
  width: 270px;
  margin-top: 10%;
}

.example-full-width {
  width: -moz-available;
  margin-bottom: 5px;
}

/**small mobile view rules*/
@media only screen /* and (min-device-width: 320px) */ and (max-device-width: 425px) {
  .sign-up {
    margin-top: 30%;
  }
}

/**large mobile view rules*/
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .sign-up {
    margin-top: 25%;
  }
}