<div root>

  <section first>

  </section>

  <section second>

    <div class="center">
      <h2>Sign up</h2>
    </div>

    <form class="form" [formGroup]="signupForm">

      <!-- 
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput formControlName="first_name" autocomplete="given-name" placeholder="Emeka">
        <mat-error
          *ngIf="signupForm.controls['first_name'].hasError('minlength') && !signupForm.controls['first_name'].hasError('required')">
          Minimum of {{ signupForm.controls['first_name'].errors?.minlength?.requiredLength }} characters
        </mat-error>
        <mat-error *ngIf="signupForm.controls['first_name'].hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Middlename</mat-label>
        <input matInput formControlName="middle_name" autocomplete="additional-name" placeholder="Mariam">
        <mat-error
          *ngIf="signupForm.controls['middle_name'].hasError('minlength')">
          Minimum of {{ signupForm.controls['middle_name'].errors?.minlength?.requiredLength }} characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="last_name" autocomplete="family-name" placeholder="Ola">
        <mat-error
          *ngIf="signupForm.controls['last_name'].hasError('last_name') && !signupForm.controls['last_name'].hasError('required')">
          Please enter a valid Last name
        </mat-error>
        <mat-error *ngIf="signupForm.controls['last_name'].hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      -->

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="email" placeholder="name@site.com">
        <mat-error
          *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="new-password" placeholder="Minimum of 6 characters">
        <mat-hint align="start">Minimum of 6 characters</mat-hint>
        <mat-error
          *ngIf="signupForm.controls.password.hasError('minlength') && !signupForm.controls.password.hasError('required')">
          Please exceed 6 characters
        </mat-error>
        <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>State code</mat-label>
        <input formControlName="state_code" matInput placeholder="e.g. AB/17A/4567">
        <mat-error
          *ngIf="signupForm.controls['state_code'].hasError('pattern') && !signupForm.controls['state_code'].hasError('required')">
          Please enter a valid state code
        </mat-error>
        <mat-error *ngIf="signupForm.controls['state_code'].hasError('required')">
          State code is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button type="button" role="button" (click)="signUp()" class="signup-button" [disabled]="signupForm.invalid" mat-raised-button color="primary">Sign
        up</button>

    </form>

    <div class="login-sentence">Have an account? <a routerLink="/login">Login</a>.</div>

  </section>
</div>

<!-- 
  // Validators.pattern(`(AB|AD|AK|AN|BA|BY|BN|BO|CR|DT|EB|ED|EK|EN|FC|GM|IM|JG|KD|KN|KT|KB|KG|KW|LA|NS|NG|OG|OD|OS|OY|PL|RV|SO|TR|YB|ZM|ab|ad|ak|an|ba|by|bn|bo|cr|dt|eb|ed|ek|en|fc|gm|im|jg|kd|kn|kt|kb|kg|kw|la|ns|ng|og|od|os|oy|pl|rv|so|tr|yb|zm)\\/${ this.yearrange }[abcACB]\\/[0-9]{4}`)
      
 -->