<div root>

  <section first>

  </section>

  <section second>

    <div class="center">
      <h2>Sign up</h2>
    </div>

    <form class="form" [formGroup]="signupForm">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput formControlName="firstname" autocomplete="given-name" placeholder="Emeka">
        <mat-error
          *ngIf="signupForm.controls['firstname'].hasError('minlength') && !signupForm.controls['firstname'].hasError('required')">
          Minimum of {{ signupForm.controls['firstname'].errors?.minlength?.requiredLength }} characters
        </mat-error>
        <mat-error *ngIf="signupForm.controls['firstname'].hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Middlename</mat-label>
        <input matInput formControlName="middlename" autocomplete="additional-name" placeholder="Mariam">
        <mat-error
          *ngIf="signupForm.controls['middlename'].hasError('minlength')">
          Minimum of {{ signupForm.controls['middlename'].errors?.minlength?.requiredLength }} characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="lastname" autocomplete="family-name" placeholder="Ola">
        <mat-error
          *ngIf="signupForm.controls['lastname'].hasError('lastname') && !signupForm.controls['lastname'].hasError('required')">
          Please enter a valid Last name
        </mat-error>
        <mat-error *ngIf="signupForm.controls['lastname'].hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="email" placeholder="name@site.com">
        <mat-error
          *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="new-password" placeholder="Minimum of 6 characters">
        <mat-hint align="start">Minimum of 6 characters</mat-hint>
        <mat-error
          *ngIf="signupForm.controls.password.hasError('minlength') && !signupForm.controls.password.hasError('required')">
          Please exceed 6 characters
        </mat-error>
        <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>State code</mat-label>
        <input formControlName="statecode" matInput placeholder="e.g. AB/17A/4567">
        <mat-error
          *ngIf="signupForm.controls['statecode'].hasError('pattern') && !signupForm.controls['statecode'].hasError('required')">
          Please enter a valid state code
        </mat-error>
        <mat-error *ngIf="signupForm.controls['statecode'].hasError('required')">
          State code is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button role="button" (click)="signUp()" class="signup-button" [disabled]="signupForm.invalid" mat-raised-button color="primary">Sign
        up</button>

    </form>

    <div class="login-sentence">Have an account? <a routerLink="/login">Login</a>.</div>

  </section>
</div>