<div long-house>
    <!--
        If you click image, it should open seeHouseDetails() right to images section.
      -->
    <app-image-carousel [images]="accommodation?.Media"></app-image-carousel>

    <mat-card-content class="content">

        <div class="top-details">
            <section>
                <mat-card-title>Apartment type ??</mat-card-title>
                <mat-card-subtitle>Posted 3 days ago</mat-card-subtitle>
            </section>
            <section>
                <span>&#8358;57,000</span>
                <span class="mat-caption"> /month</span>
            </section>
        </div>
        <div>
            <section>
                <p>Details: 5.56k / sq.ft</p>
                <p>Status: Unfurnished, Immediately available</p>
            </section>
        </div>
        <div class="post-info-actions">
            <section class="post-amenities">
                <div class="amenity">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <span class="mat-caption">4 rooms</span>
                </div>
                <div class="amenity">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <span class="mat-caption">4 rooms</span>
                </div>
                <div class="amenity">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <span class="mat-caption">4 rooms</span>
                </div>
            </section>

            <section class="post-buttons">
                <button type="button" mat-raised-button [matMenuTriggerFor]="chatMenuBig">More</button>
                <button type="button" [@iconChangeAnimation]="toggleBookmarkIcon" (click)="bookmarkPost()"
                    mat-icon-button color="primary" aria-label="Save this post">
                    <mat-icon [fontIcon]="toggleBookmarkIcon"></mat-icon>
                </button>
                <button type="button" [@iconChangeAnimation]="toggleFavouriteIcon" (click)="favouritePost()"
                    mat-icon-button color="primary" aria-label="Like this post">
                    <mat-icon [fontIcon]="toggleFavouriteIcon"></mat-icon>
                </button>

                <mat-menu #chatMenuBig="matMenu" yPosition="above">
                    <button type="button" mat-menu-item (click)="copyAgentPhoneNumber()">
                        <mat-icon>phone</mat-icon>
                        <span>Copy phone number</span>
                    </button>
                    <button type="button" mat-menu-item disabled>
                        <mat-icon>chat</mat-icon>
                        <span>Chat agent</span>
                    </button>
                    <button type="button" mat-menu-item (click)="seeHouseDetails()">
                        <mat-icon>info</mat-icon>
                        <span>View details</span>
                    </button>
                </mat-menu>
            </section>
        </div>

    </mat-card-content>

</div>

<mat-card house>
    <!--
        If you click image, it should open seeHouseDetails() right to images section.
      -->
    <!-- <img mat-card-image src="assets/images/yes.jpg" alt="Photo of a Shiba Inu"> -->
    <app-image-carousel [images]="accommodation?.Media"></app-image-carousel>

    <mat-card-content>

        <div class="top-details">
            <section>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </section>
            <section>
                <span>&#8358;57,000</span>
                <span class="mat-caption"> /m</span>
            </section>
        </div>
        <div>
            <section>
                Details: 5.56k / sq.ft
                <br>
                Status: Unfurnished, Immediately available
            </section>
        </div>
        <div>

            <!-- <section class="post-amenities">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>4 rooms</span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>4 rooms</span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>4 rooms</span>
          </section> -->

            <section class="post-buttons">
                <button [@iconChangeAnimation]="toggleFavouriteIcon" (click)="favouritePost()" mat-icon-button
                    color="primary" aria-label="Like this post">
                    <mat-icon [fontIcon]="toggleFavouriteIcon"></mat-icon>
                </button>
                <button [@iconChangeAnimation]="toggleBookmarkIcon" (click)="bookmarkPost()" mat-icon-button
                    color="primary" aria-label="Save this post">
                    <mat-icon [fontIcon]="toggleBookmarkIcon"></mat-icon>
                </button>
                <button mat-raised-button [matMenuTriggerFor]="chatMenuSmall">More</button>
                <mat-menu #chatMenuSmall="matMenu" yPosition="above">
                    <button mat-menu-item (click)="copyAgentPhoneNumber()">
                        <mat-icon>phone</mat-icon>
                        <span>Copy phone number</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>chat</mat-icon>
                        <span>Chat agent</span>
                    </button>
                    <button mat-menu-item (click)="seeHouseDetails()">
                        <mat-icon>info</mat-icon>
                        <span>View details</span>
                    </button>
                </mat-menu>
            </section>

        </div>

    </mat-card-content>

</mat-card>