<div class="parent-chat">
    <div class="chat-list">

        <div mat-subheader>Chats</div>
        <mat-selection-list class="chats-listing" #chatsListing [multiple]="false" [formControl]="selectedChat">
            <mat-list-option *ngFor="let chat of testChats" [value]="chat">
                <img matListItemAvatar class="profile-image"
                    src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Profile pic" />
                <div matListItemTitle>{{chat}}</div>
                <div matListItemLine>{{chat.repeat(5)}}</div>
            </mat-list-option>
        </mat-selection-list>

    </div>

    <div class="chat-box">
        <ng-container *ngIf="selectedChat.value?.[0]; else noSelectedChat">
            <cdk-virtual-scroll-viewport itemSize="10" orientation="horizontal" class="inner-chat-box">
                <div *cdkVirtualFor="
                            let item of randomNumbers;
                            let index = index;
                            let count = count;
                            let first = first;
                            let last = last;
                            let even = even;
                            let odd = odd
                        " class="msg-row" [ngClass]="{ sender: even, receiver: odd }">
                    <div class="spacer"></div>
                    <mat-card class="chat-card">
                        <div *ngIf="even">
                            The Shiba Inu is the smallest of the six
                            original and distinct spitz breeds of dog from
                            Japan. A small, agile dog that copes very well
                            with mountainous terrain, the Shiba Inu was
                            originally bred for hunting.
                        </div>
                        <div *ngIf="odd">A shorter text.</div>

                        <span>4:45PM</span>
                    </mat-card>
                </div>
            </cdk-virtual-scroll-viewport>

            <div class="d-flex">
                <mat-form-field class="msg-input">
                    <mat-label>Your message</mat-label>
                    <textarea title="Message" [formControl]="chatMessage" matInput cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
                <!-- TODO: send button should also be disabled if there is no internet connection -->
                <button type="button" class="send-message-button" [disabled]="!chatMessage.value" mat-icon-button
                    color="primary" aria-label="Send message icon" (click)="sendMessage()">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </ng-container>

        <ng-template #noSelectedChat>
            <div class="no-selected-chat">
                <h3>Select or start a chat</h3>

                <mat-icon color="primary" class="no-chat-icon">forum</mat-icon>
            </div>
        </ng-template>
    </div>
</div>