.parent-chat {
    --chat-box-height: calc(100vh - 64px - 48px - 40px);
    --chat-box-height-mobile: calc(100vh - 56px);

    margin: 50px;
    display: flex;
    height: var(--chat-box-height);

    position: relative;
}

.message-date {
    font-size: 10px;
    padding: 0 5px;
    color: #101010;
}

.chat-div {
    height: -webkit-fill-available;
}

.sender-chat-message {
    text-align: end;

    margin-left: auto;
    background-color: #b9f3bb;
}

.recipient-chat-message {
    text-align: start;
    background-color: #e1f3fb;
}

.chat-card {
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
}

.chat-header {
    border-bottom: 1px solid;
}

.chat-footer {
    padding: 10px 10px 0 10px;
    border-top: 1px solid;
}

.chat-box {
    flex: 4;
    background-color: #8080801c;
    position: relative;
}

.chat-box > mat-card {
    height: -webkit-fill-available;

    z-index: 10;
}

.chats-content {
    overflow-y: auto;
    flex-grow: 1;
}

.message-card {
    width: fit-content;
    max-width: 75%;
}

.chats-list {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    overflow-y: auto;

    gap: 10px;

    padding: 10px 0; /* extra space at the end & beginning of the message */
}

mat-card-actions {
    max-height: 134px;
}

.sender {
    flex-direction: row;
    text-align: right;
}

.person-msg-intro {
    display: flex;
    align-items: center;
}

.spacer {
    flex-basis: 20%;
}

.msg-row .spacer {
    flex-grow: 1;
}

.msg-row {
    display: flex;

    margin: 15px 0px;
}

/**
 * TODO: work on responsiveness. Open dev tools in bottom bar and see.
 */
.msg-input {
    width: calc(100% - 50px);
    flex: 1;
}

/* 
    margin so it's on same level as message box 
*/
.send-message-button {
    margin-bottom: 22px;
}

.above {
    z-index: 55;
}

.no-selected-chat {
    text-align: center;

    margin: 0 auto;

    position: absolute;
    /* z-index: 10; */

    /* partly from https://stackoverflow.com/a/16804179/9259701 */
    right: 0;
    left: 0;
    top: 0;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: -webkit-fill-available;
}

.no-chat-icon {
    transform: scale(2);
}

.message-time {
    font-size: 10px;
    color: #888;
    text-align: right;
    margin-top: 5px;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .parent-chat {
        margin: 0;
        height: var(--chat-box-height-mobile);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}