@import '~swiper/swiper-bundle.css';
@import '~swiper/swiper.min.css';
/* @import "~swiper/modules/navigation/navigation.min.css"; */
/* @import "~swiper/modules/pagination/pagination.min.css"; */

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav-button-container {
    position: fixed;
    z-index: 10;
    cursor: pointer;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lb, .rb {
    /* we need to use percentages to calculate this */
    top: -190px;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-button-container {
        display: none;
    }
}
