<div class="img-gallery-container">
  <swiper [config]="swiperConfig" class="custom-swiper-class" #swiper>
    <ng-template swiperSlide *ngFor="let image of images">
      <img class="img" mat-card-image [src]="image.url" alt="Photo of an item" />
    </ng-template>
  </swiper>
  
  <div class="nav-button-container"> <!-- TODO: Use better css for positioning the buttons. Be careful (can be time consuming.) -->
    <button type="button" #leftButton [ngClass]="['left-btn-' + displayIndex, 'lb']" left-btn mat-icon-button color="primary" aria-label="Previous image"
      class="nav-button">
      <mat-icon>chevron_left</mat-icon>
    </button>
  
    <button type="button" #rightButton [ngClass]="['right-btn-' + displayIndex, 'rb']" right-btn mat-icon-button color="primary" aria-label="Next image"
      class="nav-button">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<!-- 
  sample here https://stackblitz.com/edit/swiper-angular-example?file=src%2Fapp%2Fapp.component.html
  also check https://www.positronx.io/angular-swiper-image-touch-slider-example-tutorial/
-->