@import '~swiper/swiper.min.css';
@import 'node_modules/swiper/modules/navigation/navigation.min.css';
@import 'node_modules/swiper/modules/pagination/pagination.min.css';

.img-gallery-container {
    position: relative;
}

.right-btn {
    right: 0px;
}

.move-button {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}

.custom-swiper-class {
    /* If the image doesn't cover the whole space, put a background color - can/shd replace with sth else. */
    background-color: cadetblue;
}

.img {
    width: 100%;
    height: auto;
    object-fit: contain;

    /* To prevent re-draw */
    min-height: 300px;
}


@media only screen and (min-width: 992px) {}

/** small mobile view rules */
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {}

/** large mobile view rules */
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {}

@media only screen and (max-width: 600px) {}
