<swiper 
[pagination]="{
      dynamicBullets: true
    }" class="mySwiper container">
    <ng-template swiperSlide class="custom-class">
      <img class="img" mat-card-image src="assets/images/r2.png" alt="Photo of the appropriate room" />
    </ng-template>
    <ng-template swiperSlide>
      <img class="img" mat-card-image src="assets/images/k2.png" alt="Photo of the appropriate room" />
    </ng-template>
    <ng-template swiperSlide>
      <img class="img" mat-card-image src="assets/images/yes.jpg" alt="Photo of the appropriate room" />
    </ng-template>
</swiper>