<div class="wrapper">
  <div class="first-part">

  </div>
  <div class="second-part" for-forms>
    <h3>Join our waitlist.</h3>
    <p>We are a service for corp members to find accommodation, and house hold items so they can easily settle in their serving state.</p>
    <form [formGroup]="waitListForm" class="example-form">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input formControlName="firstname" matInput placeholder="Idris">
        <mat-error *ngIf="waitListForm?.get(['firstname'])?.hasError('required')">
          Firstname is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Middlename</mat-label>
        <input formControlName="middlename" matInput placeholder="Akin">
        <mat-hint>Optional</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input formControlName="lastname" matInput placeholder="Uzo">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="name@email.com" autocomplete="email">
        <mat-error *ngIf="waitListForm?.get(['email'])?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="waitListForm?.get(['email'])?.hasError('email')">
          Enter <strong>valid</strong> email address
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Serving state</mat-label>
        <input type="text" placeholder="" aria-label="Serving state" matInput
          [formControl]="waitListForm?.get('servingstate')" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <!-- <mat-option value="">Choose</mat-option> -->
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="waitListForm?.get(['servingstate'])?.hasError('required')">
          Serving state is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field color="primary" class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea formControlName="comment" matInput placeholder="Anything. A question, comment, or nothing." matAutosizeMaxRows="5" matTextareaAutosize rows="3"></textarea>
      </mat-form-field>

      <button #waitlistjoinbutton (click)="joinWaitList()" mat-raised-button color="primary">
        <span [style.display]="hideJoinText ? 'block' : 'none'">Join</span>
        <mat-spinner [style.display]="hideJoinMatSpinner ? 'block' : 'none'" #signUpMatSpinner style="margin: 2px auto;" diameter="35" color="warn"></mat-spinner>
      </button>
    </form>

  </div>
</div>