/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    height: 100%;
}
/**
 * from https://css-tricks.com/almanac/properties/b/box-sizing/
 * and somewhere else.
 */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    /* padding: 0; */
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.radio-group, .checkbox-group {
    display: flex;
    flex-direction: column;
}

mat-radio-button > .mdc-form-field > label {
    cursor: pointer;
}

.v-hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.action-buttons > div {
    display: flex;
    gap: 10px;
}

.action-buttons {
    padding-top: 25px;

    display: flex;
    justify-content: space-between;
}

/**
 * https://stackoverflow.com/a/67000769/9259701
 * to make the inner div fit parent
 */
.cdk-virtual-scroll-content-wrapper {
    width: -moz-available;
    width: -webkit-fill-available;
}

/*
 * custom file input styling via https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/ 
 */
.custom-file-input {
    color: transparent;

    padding-bottom: 25px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/
/* This styles isn't applied in NavComponent */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hide-desktop {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
