/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.radio-group, .checkbox-group {
    display: flex;
    flex-direction: column;
}

mat-radio-button > .mdc-form-field > label {
    cursor: pointer;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/
/* This styles isn't applied in NavComponent */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hide-desktop {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
