.results-list {
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    /* calculate height of everything above */
    height: calc(100vh - 150px);

    overflow: auto;

}

/* TODO: take to main.css, it's repeated elsewhere */
.toolbar-spacer {
    flex: 1 1 auto;
}

.search-bar-section {
    margin-top: 10px;
}

.form-field-full-width {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

/**
  * TODO: this class is repeated elsewhere, move to main css?
  */
.app-name-header {
    cursor: pointer;
}

.no-results {
    text-align: center;
    padding-top: 30%;
}
