.amenity {
    display: flex;
    flex-direction: column;

    /* padding-right: 15px; */
    align-items: center;
}

.amenity .mat-caption {
    text-align: center;
}

.top-details {
    display: flex;
    justify-content: space-between;
}

.other-details {
    font-size: 14px;
    font-weight: bolder;
}

.room-number {
    padding-top: 5px;
    padding-right: 10px;
}

.flex-spacer {
    /* creates a space between elements in a flex box, from https://v16.material.angular.io/components/toolbar/examples#toolbar-basic */
    flex: 1 1 auto;
}


.two-line-description {
    /**
     * from https://stackoverflow.com/a/13924997/9259701
     * after two lines, show ellipsis
     */
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    /* line-height: 19px, x2 */
    min-height: 38px;
}

.post-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
