<mat-card-content house>

    <div class="top-details">
        <section>
            <mat-card-subtitle>
                <!-- or [dateTime]="..." -->
                <time [attr.datetime]="sale.created_at" >{{sale._age}}</time>{{ salePosterDisplayName }}</mat-card-subtitle>
            <mat-card-title>{{sale.item_name}}</mat-card-title>
        </section>
        <section>
            <span>&#8358; {{sale._price}}</span>
        </section>
    </div>
    <div>
        <section class="two-line-description">
            {{sale.text}}
        </section>
    </div>
    <div>

        <section class="post-buttons">
            <ng-container *ngIf="showDeleteOption">
                <button type="button" (click)="deletePost()" mat-icon-button
                color="warn" aria-label="Delete this post">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>

            <div class="flex-spacer"></div>
            </ng-container>

            <button *ngIf="isLoggedIn" type="button" [@iconChangeAnimation]="toggleLikeIcon" (click)="favoritePost()" mat-icon-button
                color="primary" aria-label="Like this post">
                <mat-icon [fontIcon]="toggleLikeIcon"></mat-icon>
            </button>
            <button *ngIf="isLoggedIn" type="button" [@iconChangeAnimation]="toggleBookmarkIcon" (click)="bookmarkPost()" mat-icon-button
                color="primary" aria-label="Save this post">
                <mat-icon [fontIcon]="toggleBookmarkIcon"></mat-icon>
            </button>

            <!--
                TODO:
                1. We don't really need this more button for now.
                2. No need to show this when it's your post.
            -->
            <button type="button" mat-raised-button [matMenuTriggerFor]="chatMenuSmall">More</button>
            <mat-menu #chatMenuSmall="matMenu" yPosition="above">
                
                <!-- TODO: show this when we're ready for this feature. -->
                <!-- <button type="button" mat-menu-item (click)="copyAgentPhoneNumber()">
                    <mat-icon>phone</mat-icon>
                    <span>Copy phone number</span>
                </button> -->

                <!-- TODO: skip if the current user posted this item -->
                <button type="button" (click)="chatWithSalePoster()" mat-menu-item [disabled]="false">
                    <mat-icon>chat</mat-icon>
                    <span>Chat {{salePosterChatName}}</span>
                </button>

                <!-- TODO: uncomment this when we're ready for this feature. -->
                <!-- <button type="button" mat-menu-item (click)="seeHouseDetails()">
                    <mat-icon>info</mat-icon>
                    <span>View details</span>
                </button> -->
            </mat-menu>
        </section>

    </div>

</mat-card-content>